<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gidget Gadget</title>

        <script src="js/angular.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
   </head>

   <body ng-app="gidget" ng-csp>
        <div ng-controller="gidgetController">

           <div class="jumbotron ng-hide">
              <h2>
                 Share or save items<br />
                 <small>
                    Prototype Chrome extension interacts with Acquisition Gateway.
                 </small>
              <h2>
           </div> <!-- jumbotron -->

           <div class="container">
               <div class="panel panel-default">
                   <div class="panel-heading">
                     <h3 class="panel-title">Let Gidget help you connect.</h3>
                   </div> <!-- panel-heading -->
                   <div ng-model="url" class="panel-body">
                     <form role="form">
                       <div class="form-group">
                           <label for="pageUrl">URL</label>
                           <input type="text" class="form-control"
                                   id="pageUrl" value="{{url}}">
                           <p class="help-block">
                              This is the URL of the page to be saved.
                           </p>
                       </div>
                       <div class="form-group">
                           <label for="pageComment">Your comments&hellip;</label>
                           <textarea rows="4" autofocus class="form-control"
                                   id="pageComment" placeholder="Enter your personal comments on this item." ng-model="comment">
                           </textarea>
                           <p class="help-block">
                              This page will be saved.
                           </p>
                       </div>
                       <button type="reset" class="btn btn-danger">Cancel</button>
                       <button type="submit" class="btn btn-success">Save</button>
                     </form>
                   </div> <!-- panel-body -->
               </div> <!-- panel-default -->
           </div> <!-- class="container" -->
       <div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/dialog.js"></script>
</body>
<footer>
</footer>
</html>
